* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222940;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    background-color: #000000;
    height: 90px;
}

.topo_title {
    text-transform: uppercase;
    margin-left: 30px;
    color: #ffff;
}

.topo_button ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.topo_button li {
    display: inline-block;
    margin-right: 20px;
}

.topo_button a {
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    color: #ffff;
}

.color a {
    background-color: #6089BF;
    color: #000000;
}

.main_title {
    margin: 120px 0;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    color: #ffff;
}

.content {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 60%;
    margin: 0 auto;
}

.planos {
    background-color: #1d1c1c;
    width: 350px;
    padding: 30px 0 0 25px;
    border-radius: 10px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.planos h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 300px;
    border-bottom: 2px solid #ffff;
    padding-bottom: 5px;
    color: #ffff;
}

.planos p {
    font-size: 30px;
    font-weight: 650;
    margin-bottom: 20px;
    color: #ffff;
}

.planos span {
    font-size: 15px;
}

.content_plano ul {
    list-style: disc;
}

.content_plano li::marker {
    color: #0B38BF ;
}

.content_plano li {
    margin: 10px 0 0 20px;
    color: #ffff;
}

.plano_button {
    display: flex;
    justify-content: center;
    margin: auto 0 40px 0;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

.plano_button a {
    background-color: #6089BF;
    text-decoration: none;
    padding: 15px 95px;
    border-radius: 10px;
    color: #000000;
}

.plano_button a:hover {
    background-color: #C9EEF2;
}

@media (max-width: 1200px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .topo {
        flex-direction: column;
        padding: 20px;
        gap: 60px;
    }

    .topo_button ul {
        background-color: #000000;
        padding: 30px;
    }

    .main_title {
        margin-top: 200px;
    }

    .planos {
        width: 95%;
        margin-bottom: 30px;
    }
}