* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(../IMG/Design\ sem\ nome.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.topo {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A0B26;
    padding: 30px 15px;
}

.topo_title {
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
}

.topo_button ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-weight: bold;
}

.topo_button a {
    text-decoration: none;
    color:  #ffffff;
    padding: 15px;
}

.color a {
    background-color: #23288C;
    border-radius: 10px;
    cursor: default;
}

.meio {
    width: 90%;
    max-width: 1200px;
    margin: 10vh auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main_title {
    text-transform: uppercase;
    font-size: 50px;
    color: #ffffff;
}

.content {
    width: 90%;
    max-width: 1200px;
    margin-top: 150px;

    display: flex;
    gap: 50px;
}

.planos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;

    background-color: #07081d;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
    min-height: 400px;
    
}

.planos h2 {
    margin-top: 15px;

    text-transform: uppercase;
    border-bottom: 2px solid #23288C;
    font-weight: 900;
    color: #ffffff;
}

.planos p {
    margin: 5px;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
}

.planos span {
    font-size: 15px;
}

.content_plano {
    margin-left: 20px;
}

.content_plano li {
    margin-bottom: 5px;
    color: #ffffff;
}

.plano_button {
    display: flex;
    justify-content: center;
    margin: auto 0 40px 0;
}

.plano_button a {
    width: 90%;
    padding: 13px;
    border-radius: 15px;

    display: flex;
    justify-content: center;

    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

.plano_button a:hover {
    color: #ffffff;
    background-color: #23288C;
}

.footer {
    width: 100%;
    background-color: #07081d;
    padding: 30px 0;
    text-align: center;
    margin-top: 80px;
}

.footer p {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-links a:hover {
    color: #23288C;
}


@media (max-width: 768px) {
    .topo {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .main_title {
        text-transform: uppercase;
        font-size: 40px;
        text-align: center;
    }

    .content{
        flex-direction: column;
    }
}